<div class='container'>
  <h1 class='sigmar-regular' id='Home'>HOBBY EXPLORER</h1>
  <form action='/results' method='POST' id='query' class='form-container'>
    <div class='custom-select'>
      <select name='category' id='category' form='query'>
        <option>general</option>
        <option>sports_and_outdoors</option>
        <option>education</option>
        <option>collection</option>
        <option>competition</option>
        <option>observation</option>
      </select>
      <input type='submit' />
    </div>
  </form>
</div>
<footer>
  <p>&copy; 2023 Lanna Chanasongkram</p>
  <a
    href='mailto:Lanna.graduate.c@gmail.com?subject=Hello&body=I wanted to say...'
    class='mail-button'
  >Contact Me</a>
</footer>